{% extends "layout.html" %}

{% block content %}

<h1>{{title}}</h1>
    <h3>Received Messages:</h3>
        {% for r in received %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5> {{r.user_from}} </h5>
                    <p> {{r.text}} </p>
                </div>
                <div class="panel-footer">
                    {{r.date}}
                    <a href="{% url 'messagedelete' r.id %}"  class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        {% endfor %}
    <h3>Sent Messages:</h3>
        {% for s in sent %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5> {{s.user_from}} </h5>
                    <p> {{s.text}} </p>
                </div>
                <div class="panel-footer">
                    {{s.date}}
                </div>
            </div>
        {% endfor %}
<style>
h5 {
    margin-top: 0;
    margin-left: 0.3em;
    font-weight: bold;
    display: inline-block;
}
</style>

{% endblock %}