{% extends "layout.html" %}

{% block content %}
<section id="messages">
    <h1>{{title}}</h1>

    <section id="received">
        <h3>Received Messages:</h3>
        {% for r in received %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="pull-left">{{r.user_from}}</h4>
                <div class="pull-right">
                    {{r.date}}
                    <a href="{% url 'messagedelete' r.id %}"  class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <p> {{r.text}} </p>
            </div>
        </div>
        {% endfor %}
    </section>

    <section id="sent">
        <h3>Sent Messages:</h3>
        {% for s in sent %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="pull-left">{{s.user_to}}</h4>
                <div class="pull-right">
                    {{s.date}}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <p> {{s.text}} </p>
            </div>
        </div>
        {% endfor %}
    </section>
</section>
{% endblock %}