<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Task Manager</a>
            </div>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'users' %}"><span class="glyphicon glyphicon-user"></span> Users</a></li>
                    <li><a href="{% url 'useritems' %}"><span class="glyphicon glyphicon-tag"></span> My items</a></li>
                    <li><a href="{% url 'createitem' %}"><span class="glyphicon glyphicon-plus"></span> Create item</a></li>
                    <li><a href="{% url 'taskstatuslist' %}"><span class="glyphicon glyphicon-th-list"></span> Task status list</a></li>
                    <li><a href="{% url 'taskslist' %}"><span class="glyphicon glyphicon-list-alt"></span> My tasks</a></li>
                    <li><a href="{% url 'taskcreate' %}"><span class="glyphicon glyphicon-plus"></span> Create task</a></li>
                    <li><a href="{% url 'messagelist' %}"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <form id="logoutForm" action="/logout" method="post" class="navbar-right">
                    {% csrf_token %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'userinfo' %}" class="navbar-brand">Hello {{ user.first_name }}!</a></li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>

                </form>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span> Log in</a></li>
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div id="alerts">
                    {% spaceless %}
                    {% include 'alerts/success.html' %}
                    {% include 'alerts/info.html' %}
                    {% include 'alerts/warning.html' %}
                    {% include 'alerts/danger.html' %}
                    {% endspaceless %}
                </div>
                <main>
                {% block content %}{% endblock %}
                </main>
            </div>
            <div class="col-md-4 col-sm-12">
                <img src="/static/images/django.png" class="img-responsive" alt="Django" />
            </div>
        </div>

        <hr />
        <footer class="text-center">
            <p>&copy; 2015 - Created by Jan Vargovský and Jakub Klimunda <small><a href="/admin">admin</a></small></p>
        </footer>
    </div>
    <script src="{% static 'scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.js' %}"></script>
    <script src="{% static 'scripts/respond.js' %}"></script>
    <script src="{% static 'scripts/DjangoFixIncludeWhiteSpaces.js' %}"></script>
</body>
</html>
